$white:#fff;
$th-white:#FCFCFC;
$black:#101011;
$border:#1E2339;
$text:#8E9095;
$text-2:#363636;
$gray-100:#F8F4F1;
$gray-600:#282A37;
$gray-700:#222535;
$gray-800:#111424;
$secondary:#101011;
$primary:#D41C25;
$border-2:#EFEEF3;